DEBUG=True
SECRET_KEY=change-me

ALLOWED_HOSTS=localhost,127.0.0.1,.railway.app
# CSRF_TRUSTED_ORIGINS=https://your-app.up.railway.app

FLIGHT_API_KEY=
FLIGHT_API_HOST=sky-scrapper.p.rapidapi.com

OPENAI_API_KEY=
AI_MODEL=gpt-4o-mini
